.cart-items {
  min-height: 100vh;
  margin: 0% 20% 0% 10% ;
}
.card-body {
  display: flex;

}
.cart-item {
  max-width: 700px;
}
.cart-products {
  display: flex;
  gap: 40px;
}
.style-icon {
  margin-left: auto;
}
.style-img {
  max-width: 55.5%;
  height: 100%;
  object-fit: cover;
}
.checkout {
  margin-left: auto;
  position: sticky;
  top: 0;
  height: fit-content;
}
.badges {
  font-size: 26px;
  white-space: nowrap;
}

