.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 24px;
  margin-bottom: 36px;
  margin-top: 24px;
}
.container {
  position: static;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.product-container {
  display: flex;
  width: 47%;
  margin: 5% 44% 20% 0%;

}
.productSwiper {
  height: 800px;
  box-sizing: border-box;
  padding: 10px 0;
}
.productSwiper .swiper-slide {
  height: 200px;
  opacity: 0.4;
}

.productSwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiper2 {
  height: 750px;
  width: 800px;
}
.mySwiper2.swiper {
  margin: 0;
}
.sort-select {
  float: right;
  height: 20px;
}
.group-list {
  display:inline-block;
}

.mySwiper2 img {
  object-fit: contain;
}
.swiper-slide img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.style-info {
  margin: 10% 0% 20% 40%;
  position: absolute;
  top: 0;
}
.style-h1 {
  margin-bottom: 40px;
}
.style-price {
  margin-bottom: 50px;
}
.style-description {
  margin-bottom: 40px;

}
.style-structure {
  margin-bottom: 50px;
}
.style-size{
  margin-right: 15px;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
  cursor: pointer;
  position: relative;
  user-select: none;
  border: solid;
  border-color: silver;
  width: 70px;
}
.style-button {
color: aliceblue;
background-color: black;
width: 300px;
height: 45px;
margin-bottom: 8px;
}
.style-button-2 {
color: black;
background-color: white;
width: 300px;
height: 45px;
}
.style-button:hover {
  background-color: darkgray;
}
.style-button:disabled {
  color: aliceblue;
  background-color: gray;
}
.style-active {
  color: aliceblue;
  background-color: black;
}